@tailwind base;
@tailwind components;
@tailwind utilities;

/* the Styles of the header, order, for responsive, mobile first */

.nav-responsive{
    @apply
    "
    rounded-lg dark-mode:bg-gray-700 
    dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 
    dark-mode:focus:text-white dark-mode:hover:text-white 
    dark-mode:text-gray-200 
    " 
}
